
  <div class='panel panel-primary' *ngIf='patient'>
    <div class='panel-heading'>
      {{pageTitle}}
    </div>

    <div class='panel-body'>
      <form (ngSubmit)="onSubmit()">
        <div class="form-group row">
          <label for="staticName" class="col-sm-2">Name:</label>
          
          <div class="col-sm-10">
            <span>{{patient.Name}}</span>        
          </div>
        </div>

        <div class="form-group row">
            <label for="staticName" class="col-sm-2 col-form-label">Appointment Type:</label>
            
            <div class="col-sm-10">
                <select [(ngModel)]="selectedAppointmentType" name="dropdownAppointmentTypes" >
                    <option *ngFor="let appointmentType of appointmentTypes" [ngValue]="appointmentType.AppointmentTypeID" [selected]="appointmentType.Descripcion == 'Medicina General' " >{{appointmentType.Descripcion}}  </option>
                  </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="staticAge" class="col-sm-2 col-form-label">Gender:</label>
            
            <div class="col-sm-10">
                <span *ngIf="patient.Gender; else femaleGender"> Male  </span>
              <ng-template #femaleGender>Female</ng-template>       
            </div>
        </div>

        <div class="form-group row">
            <label for="staticName" class="col-sm-2 col-form-label"> Age:</label>
            
            <div class="col-sm-10">
              
              <span>{{patient.Age}}</span> 
                  
            </div>
        </div>

        <div class="form-group row">
            <label for="staticName" class="col-sm-2 col-form-label"> Appointment date:</label>
            
            <div class="col-sm-10">
              <input type="datetime-local" [(ngModel)]="appointmentDate" name="appointmentDate" />
            </div>
        </div>          
        <button type="submit" class="btn btn-default" >Create Appointment</button>
        <span>{{message}}</span>        
      </form>     
     
    </div>
  </div>

