<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>

    <div class='panel-body'>                      
        
        <div class='table-responsive'>
            <table class='table'
                    *ngIf='patients && patients.length' >
                <thead>
                    <tr>                        
                        <th>Name</th>                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let patient of patients'>                                                                        
                        <td>
                            <a [routerLink]="['/patient', patient.PatientID]">
                            {{ patient.Name }}
                            </a>
                        </td>
                                
                    </tr>
                </tbody>

            </table>
        </div>

    </div>

</div>
