<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>

    <div class='panel-body'>                      
        
        <div class='table-responsive'>
            <table class='table'
                    *ngIf='patients && patients.length' >
                <thead>
                    <tr>                        
                        <th>Name</th> 
                        <th>Age</th> 
                        <th>Actions</th>                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let patient of patients'>                                                                        
                        <td>
                            <a [routerLink]="['/patient', patient.PatientID]">
                            {{ patient.Name }}
                            </a>
                        </td>
                        <td>
                            {{ patient.Age }}
                        </td>
                        <td>
                            <a class="btn btn-sm btn-primary" [routerLink]="['/patient', patient.PatientID]">
                                Edit
                            </a>
                            <a class="btn btn-sm btn-primary" [routerLink]="['/patient', patient.PatientID]">
                                Delete
                            </a>
                            <a class="btn btn-sm btn-primary" [routerLink]="['/createAppointment', patient.PatientID]">
                                Create Appointment
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
